<form action="/square/results">
  <div>
    <label for="number">
      Enter a number
    </label>
  </div>
  <div>  
    <input id="number" type="text" name="number" placeholder="What number do you want to enter?" />
  </div>
  <div>
  <button>
    Calculate square
  </button>
  </div>
</form>
