<h1>Square Root Results</h1>
<d1>
  <dt> Number </dt>
  <dd> <%= @number %> </dd>
  <dt> Square root </dt>
  <dd> <%= @square_root %> </dd>
</d1>
<p>
  <a href="/square_root/new">Calculate another square root</a>
</p>
